*{
    font-family: monospace;
    color:black;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
header{
    background: #55C3B7;
}
.banner-header{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.logo{
    width: 85px;
    height: 85px;
}
nav{
    background: #96f8ed;
    position: sticky;
    top: 0;
    height: 50px;
}
nav .menu-pagina ul{
    display: grid;
    grid-template-columns: repeat(5, 10%);
    justify-content: center;
}
nav .menu-pagina ul li{
    display: grid;
    align-content: space-around;
}
nav .menu-pagina ul li a{
    padding: 16px 16px;
}
nav .menu-pagina ul li a:hover{
    background: #92d4cd;
}

section .contenedor p{
    padding: 2%;
}
section .contenedor h1{
    padding: 2%;
}
#seccion1 .seccion1-multimedia{
    display: grid;
    grid-template-columns: 50% 50%;
    justify-content: space-evenly;
    padding: 5%;
}
#seccion2{
    background: #55C3B7;
}
#seccion2 .contenedor div{
    display: grid;
    grid-template-columns: repeat(2,50%);
}
.plato-menu{
    padding: 5%;
}
#seccion3 form{
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    padding: 3%;
} 
footer{
    background: #55C3B7;
}
footer .contenedor{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.contenedor{
    margin: 0 auto;
    width: 90%;
    padding: 2%;
}
@media (max-width: 750px) {
    
    nav{
        display: inline;
        
    }
    nav .menu-pagina ul{
        display: block;
    }
    nav .menu-pagina ul li{
        display: block;
        text-align: center;
    }
    nav .menu-pagina ul li a{
        background: #96f8ed;
        display: block;
        padding: 10px;
    }
}