*{
    font-family: monospace;
    color:black;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    border-color: rgba(0, 0, 0, 0.39);
}
header{
    background: #55C3B7;
    min-height: 18vh;
    max-height: 18vh;
}
nav div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
main{
    display: flex;
    flex-direction: column;
} 
section .contenedor p{
    padding: 2%;
}
section .contenedor h1{
    padding: 2%;
}
footer{
    background: #55C3B7;
}
footer .contenedor{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.seccion1-multimedia{
    display: grid;
    grid-template-columns: 50% 50%;
    justify-content: space-evenly;
    padding: 5%;
}
.titulo-seccion{
    margin: 5% 0;
}
.section2-menu{
    display: grid;
    grid-template-columns: repeat(2,50%);
}
#icono{
    display: none;
}
.contenedor{
    margin: 0 auto;
    width: 90%;
}
.plato-menu{
    padding: 5%;
}
.mostrar{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.ocultar{ 
    display: none;
}
.banner-header{
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 18vh;
}
.header-item{
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo{
    height: 90px;
    width: 90px;
}
.sticky{
    background: #96f8ed;
    position: sticky;
    top: 0;
    height: 50px;
}
/* barra de navegacion */
.lista-menu{
    display: flex;
    flex-direction: row;
    height: 100%;
}
.lista-menu-desplegable{
    display: flex;
}
.elemento-lista{
    display: flex;
    height: 100%;
}
.relleno-16{
    padding: 16px 16px;
}
.relleno-16:hover{
    background: #92d4cd;
}
/* fin barra de navegacion */

.footer-seccion{
    display: flex;
    justify-content: center;
    padding: 10% 0;
}
/* formulario */
.seccion-formulario{
    display: grid;
    padding: 3%;
    margin: 1px;
    justify-content: center;
}
.seccion-formulario div{
    padding: 5px 0;
}
/* fin formulario */
@media (max-width: 750px) {
    
    #icono{
        display: block;
    }
    .seccion1-multimedia{
        display: flex;
        flex-direction: column;
    }
    .section2-menu{
        background: #55C3B7;
        display: flex;
        flex-direction: column;
    }
    /* barra de navegaciopn */
    nav{
        height: 45px;
        padding-top: 14px;
    }
    nav div{
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: center;
    }
    nav .contenedor{
        width: 100%;
    }
    .lista-menu-desplegable{
        display: block;
    }
    .lista-menu{
        display: none;
    }
    .elemento-lista{
        display: block;
        text-align: center;
    }
    .relleno-16{
        background: #96f8ed;
        display: block;
        padding: 10px;
    }
    
    /* fin barra de navegacion */
    .icono-menu{
        text-align: center;
        cursor: pointer;
    }
    footer .contenedor{
        display: grid;
    }
}